* {
	  background-position: center;
	  background-size: cover;
	  text-align: center;
      font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
}

html body {
	width: 100%;
	height: 100%;
	min-width: 1280px;
    font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
}

.view {
  display: flex;
  padding: 80px 0;
  height: 625px;
  width: 100%;
}

.view header {
  font-size: 55px;
  margin: auto;
  line-height: 72px;
  font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; 
}

.whiteline h1 {
	  font-size: 27px;	
      font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;  
}

.whiteline p {
  color: #98999B;
  font-size: 23px;
  font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;  
  margin-top: 8px;
}

#start {
	background-image: url(../images/bg-top.jpg);
}
#farewell { background-image: url(../images/bg-btm.jpg); }

.whiteline {
  background-color: white;
  padding: 80px 0;
}

.todo {
  display: flex;
  text-align: center;
  background: linear-gradient(180deg, rgb(74, 224, 205) 0%, rgb(0, 177, 255) 100%);
}

.todo .icon {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  background-color: white;
  border-radius: 90px;
  font-size: 60px;
  line-height: 185px;
}

.todo li {
  width: 33.33%;
  padding: 104px 0 60px 0;
}

.todo li:nth-child(even) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.todo h2, 
.todo p {
  width: 350px;
  margin: 0 auto;
  color: white;
}

.todo h2 {
  margin-top: 84px;
  font-size: 22px;
}

.todo p {
  margin-top: 5px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.text header {
  font-size: 35px;
  margin: 85px 0 90px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.text p {
  margin: 50px 0 90px 0;
  font-size: 22px;
  line-height: 28px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.text ul {
  display: flex;
  justify-content: space-around;
}

.text li {
  flex-basis: 236px;
}

.text img {
  display: block;
  margin: 0 auto;
  border-radius: 75px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .15);
}

.blueline {
  padding: 80px 0;
  background: linear-gradient(180deg, rgb(74, 224, 205) 0%, rgb(0, 177, 255) 100%);
}

.blueline h1 {
  color: white;
  font-size: 27px;  
  font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;  
}

.blueline p {
  color: white;
  font-size: 23px;
  font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;  
  margin-top: 8px;
}

.ZakharDay {
  font-size: 17px; 
  margin: -90px 0 0 0;
  text-align: center;
  color: white;
}